{% if quote.validate != 1 %}
  <h3 class="text-center">{{quote.title}}</h3>

  <div class="pull-right">
    <a class="pull-right" href="{{path("validateQuote", {id: quote.id})}}"><i class="fa fa-check-circle-o"></i></a>
    <a class="pull-right" href="{{path("deleteQuote", {id: quote.id})}}"><i class="fa fa-ban"></i></a>
  </div>
{% else %}
  <a href="{{path("onequote", {id: quote.id})}}">
    <h3 class="text-center">{{quote.title}}</h3>
  </a>

  {% if user != "anon." %}

    {% if user.username == quote.user %}
      <p>
        <a class="pull-right" href="{{path("updateQuote", {id: quote.id})}}"><i class="fa fa-pencil"></i></a>
      </p>
    {% endif %}

  {% endif %}

{% endif %}

<p>{{quote.content | nl2br}}</p>
<div class="row">
  <div class="col-sm-6">
    <p class="pull-left">
      Author :
      <a href="{{path("byauthor", {idAuthor: quote.user.id})}}">{{quote.user}}</a>
    </p>
  </div>
  <div class="col-sm-6">
    <p class="pull-right"> Date : {{quote.createdAt|date("d/m/Y")}}</p>
  </div>
</div>
<div class="pull-right">
  <div class="row">
    <div class="col-sm-3">
      {% if app.session.get('idQuote' ~ quote.id) == 'voteUp' %}
        <a href="{{path("voteup", {id: quote.id})}}"><i class="fa fa-thumbs-o-up"
        style="color:blue;"></i></a>
      {% else %}
        <a href="{{path("voteup", {id: quote.id})}}"><i class="fa fa-thumbs-o-up"
        style="color:silver;"></i></a>
      {% endif %}
    </div>
    <div class="col-sm-3">
      <p>{{quote.upVote}}</p>
    </div>
    <div class="col-sm-3">
      {% if app.session.get('idQuote' ~ quote.id) == 'voteDown' %}
        <a href="{{path("votedown", {id: quote.id})}}"><i class="fa fa-thumbs-o-down"
        style="color:red;"></i></a>
      {% else %}
        <a href="{{path("votedown", {id: quote.id})}}"><i class="fa fa-thumbs-o-down"
        style="color:silver;"></i></a>
      {% endif %}
    </div>
    <div class="col-sm-3">
      <p>{{quote.downVote}}</p>
    </div>
  </div>
</div>

<br><br>
<hr>
